torch==2.1
torchvision==0.16
numpy
pyyaml
toml
tqdm
pytest
hydra-core
pre-commit
pylint==2.14.4
pylint-exit==1.2.0
pylint-fixme-info==1.0.3
opencv-python
Pillow==9.5.0
matplotlib
scikit-image
imutils
kornia
tensorboard
tensorflow
mediapipe
mtcnn
fastapi
python-multipart
uvicorn
qrcode
fire
chess
ultralytics
cairosvg
shapely
imageio[ffmpeg]
onnx
onnxruntime